<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <link rel="manifest" href="/static/manifest.json">
    <title>Panel TESE</title>
    </head>
<body>
    <div class="app-container">
        <header>BITÁCORA DE REPORTES</header>
        <div class="content">
            <a href="/nuevo-reporte" class="btn-primary">+ Generar Nuevo Reporte</a>
            {% for r in reportes %}
            <a href="/detalle/{{ r._id }}" class="card">
                <div class="dot" style="background: {% if r.estatus == 'Pendiente' %}#ff4d4d{% else %}#ffcc00{% endif %};"></div>
                <div>
                    <strong>{{ r.sala }} - {{ r.maquina }}</strong><br>
                    <small style="color: #666;">{{ r.falla[:35] }}...</small>
                </div>
            </a>
            {% endfor %}
        </div>

        <nav class="nav-bar">
            <a href="/panel" class="nav-item active">📋<br>Reportes</a>
            <a href="/estado" class="nav-item">🏫<br>Salas</a>
            <a href="/salir" class="nav-item">🚪<br>Salir</a>
        </nav>
    </div>
</body>
</html>
